<div class="center"><h3>Add Your Blog's RSS Feed</h3></div>

<div>Enter your Blog's Feed URL</div>
<div id="add-feed">
  <form action="/feeds/create" method="POST">
    <input type="text" name="feed_url"/>
    <input type="submit" class="btn btn-primary" value="Add">
  </form>
</div>
