<h1>StackOverflow</h1>
<div>Enter your stackoverflow User Id:</div>
<form action="/stack_overflow/create" method="POST">
  <input type="text" name="so_user_id"/>
  <input type="submit" class="btn btn-primary" value="Add">
</form>
