<form action="" method="POST">
  <input name="client_id" value="6865696a3b44618cb40d"/>
  <input name="client_secret" value="3014399db1e723407f057c67e3df94b91830f52f"/>
  <input name="code" value="
    <% @code %>"/>
  <input name="state" value="
    <% @state %>"/>

</form>