/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require_tree .
 */

#google_auth_signin {
  margin-bottom: 10px;
}

.center {
  text-align: center;
}

#error_explanation {
  background: #CC3300;
  border: 1px solid #8F1D00;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  color: #ffffff;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  h2 {
    font-size: 100%;
  }
}

#sign_up_div{
  margin-left:15px;
}

#signin_separator {
  text-align: center;
  font-size: 125%;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

body {
  background: url(image_path('body_bg.png')) repeat;
}

#content_area {
  background: white repeat;
}

#sign_in_div {
  position: fixed;
  width: 100%;
  top: 25%;
  min-height: 50%;
  #section {
    background-color: white;
    box-shadow: 10px 10px 5px #888;
    border: 2px solid #000000;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 50px;
    position: absolute;
    left: 35%;
    margin-right: -10%;
    margin-top: 1%;
  }
}

.container {
  -webkit-box-shadow: 0 0 10px #888;
  box-shadow: 0 0 10px #888;
  -moz-box-shadow: 0px 0px 10px #888;
  min-height: 750px;
  .contents {
    padding: 0 5px 5px 5px;
  }
}