<div>
  Welcome <b><%= current_user.name %></b>
</div>
<div>
  The rest of the work is in progress.
</div>

<% if @providers.present? and @providers.include?(Site::PROVIDERS[:github]) %>
    <a href="/github/profile" class="btn"> View GitHub Info </a>
<% else %>
    <a href="/github/authorize" class="btn btn-primary"> Authorize GitHub </a>
<% end %>