<div>
  Welcome <b><%= current_user.name %></b>
</div>
<div>
  The rest of the work is in progress.
</div>

<% if @providers.present? and @providers.include?(Site::PROVIDERS[:github]) %>
    <%= link_to "View Github Info", github_profile_path, :class => "btn btn-primary" %>
<% else %>
    <%= link_to "Authorize GitHub", github_authorize_path, :class => "btn btn-primary" %>
<% end %>